@import "tailwindcss";
@import "@/style/CommonComponent.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  min-width: 300px;
}

#root {
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
